


/* style of scrollbar button */
::-webkit-scrollbar-button {
  height: 10%;
}
/* style of scrollbar track */
::-webkit-scrollbar-track
{
  background-color:  rgba(240, 76, 76, 0.555);
  border-radius: 5px;
}
/* style of scrollbar */
::-webkit-scrollbar
{
  width: 15px;
}
/* style of scrollbar thumb */
::-webkit-scrollbar-thumb
{
  border-radius: 5px; 
  background-color:  #ae1133

}






body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}
.sideBar__relative{
  position: relative;
  /* width: 100%; */
}
a{
  text-decoration: none;
  list-style: none;
}
.sideBar__user,.side__content{
  text-decoration: none;
}




